In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
df = df.iloc[:,2:]
df.sample(3)

     review education purchased
37  Average        PG       Yes
45     Poor        PG       Yes
12     Poor    School        No

In [8]:
from sklearn.model_selection import train_test_split

X = df.drop('purchased', axis=1)
y = df['purchased']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train[:5]

     review education
12     Poor    School
4   Average        UG
37  Average        PG
8   Average        UG
3      Good        PG

### Ordinal Encoder

In [6]:
from sklearn.preprocessing import OrdinalEncoder

ord_encoder = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])
ord_encoder.fit(X_train)

X_train = ord_encoder.transform(X_train)
X_test = ord_encoder.transform(X_test)

In [7]:
X_train[:5]

array([[0., 0.],
       [1., 1.],
       [1., 2.],
       [1., 1.],
       [2., 2.]])

In [9]:
ord_encoder.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

### Label Encoder: for Target variable

In [11]:
from sklearn.preprocessing import LabelEncoder

lab_encoder = LabelEncoder()

lab_encoder.fit(y_train)

y_train = lab_encoder.transform(y_train)
y_test = lab_encoder.transform(y_test)

In [12]:
lab_encoder.classes_

array(['No', 'Yes'], dtype=object)

In [13]:
y_train[:5]

array([0, 0, 1, 0, 0])